body{
    background-image: 
                      url("../background.css/grass.jpg");
    background-repeat: no-repeat;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-block-start: 14rem;
    padding-block-end: 14rem;
    margin-block-end:  0rem;
    margin-inline-start: 1rem;
    margin-inline-end: 0;
    margin-block-start: -11.1rem;
    background-position: center center;
    background-size: cover;
    border: 2px thick hotpink ;
}
p>img {
    max-width: 16.3%;
    float: left;
    border: 1px solid;
    margin-inline-end: 1rem;
}
p:last-child {
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: white;
    margin-inline-end: 1rem;
    
}